.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .slideshow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
  }
  .slideshow--hero {
    z-index: 3;
    left: 0;
    top: 50%;
    height: 85%;
    transform: translateY(-50%) skewY(-10deg);
    transform-origin: center;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  }
  .slideshow--hero .slides {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100vw;
    height: 100vh;
    animation: 120s slideshow-hero-mobile -3s infinite;
  }
  .slideshow--hero .slide1 {
    background-image: url(/assets/images/pic14.webp);
    animation: 20s slides-set-1 -0.1s infinite;
  }
  .slideshow--hero .slide2 {
    background-image: url(/assets/images/pic17.webp);
    animation: 20s slides-set-2 -0.1s infinite;
  }
  .slideshow--hero .slide3 {
    background-image: url(/assets/images/pic6.webp);
    animation: 20s slides-set-3 -0.1s infinite;
  }
  .slideshow--hero .slide4 {
    background-image: url(/assets/images/pic11.webp);
    animation: 20s slides-set-4 -0.1s infinite;
  }
  .slideshow--hero .slide5 {
    background-image: url(/assets/images/pic2.webp);
    animation: 20s slides-set-5 -0.1s infinite;
  }
  .slideshow--hero .slide6 {
    background-image: url(/assets/images/pic5.webp);
    animation: 20s slides-set-6 -0.1s infinite; /* Updated animation name */
  }
  .slideshow--hero .slide7 {
    background-image: url(/assets/images/pic14.webp);
    animation: 20s slides-set-7 -0.1s infinite;
  }
  @media (min-width: 600px) {
    .slideshow--hero {
      left: 50%;
      top: 0;
      width: 67%;
      height: 100%;
      transform: translateX(-50%) skewX(-10deg);
    }
    .slideshow--hero .slides {
      top: 0;
      left: -25%;
      height: 100%;
      animation: 10s slideshow-hero -3s infinite;
    }
  }
  .slideshow--contrast {
    z-index: 1;
    width: 100%;
    height: 50%;
    transform: none;
  }
  .slideshow--contrast--before {
    left: 0;
  }
  .slideshow--contrast--before .slides {
    width: 100vw;
  }
  .slideshow--contrast--after {
    z-index: 2;
    left: auto;
    right: 0;
  }
  .slideshow--contrast--after .slides {
    width: 100vw;
    left: auto;
    right: 0;
  }
  .slideshow--contrast .slides {
    animation: 14s slideshow-contrast -5s infinite;
  }
  .slideshow--contrast .slide1 {
    background-image: linear-gradient(to bottom, rgba(165, 34, 179, 0.5) 0, rgba(0, 4, 255, 0.25) 100%), url(/assets/images/pic14.webp);
    animation: 20s slides-set-1 -0.2s infinite;
  }
  .slideshow--contrast .slide2 {
    background-image: linear-gradient(to bottom, rgba(0, 4, 247, 0.25) 0, rgba(253, 0, 211, 0.5) 100%), url(/assets/images/pic17.webp);
    animation: 20s slides-set-2 -0.2s infinite;
  }
  .slideshow--contrast .slide3 {
    background-image: linear-gradient(to bottom, rgba(0, 4, 247, 0.25) 0, rgba(253, 0, 211, 0.5) 100%), url(/assets/images/pic6.webp);
    animation: 20s slides-set-3 -0.2s infinite;
  }
  .slideshow--contrast .slide4 {
    background-image: linear-gradient(to bottom, rgba(165, 34, 179, 0.5) 0, rgba(0, 4, 255, 0.25) 100%), url(/assets/images/pic11.webp);
    animation: 20s slides-set-4 -0.2s infinite;
  }
  .slideshow--contrast .slide5 {
    background-image: linear-gradient(to bottom, rgba(165, 34, 179, 0.5) 0, rgba(0, 4, 255, 0.25) 100%), url(/assets/images/pic2.webp);
    animation: 20s slides-set-5 -0.2s infinite; /* Updated animation name */
  }
  
  .slideshow--contrast .slide6 {
    background-image: linear-gradient(to bottom, rgba(165, 34, 179, 0.5) 0, rgba(0, 4, 255, 0.25) 100%), url(/assets/images/pic5.webp);
    animation: 20s slides-set-6 -0.2s infinite; /* Updated animation name */
  }

  .slideshow--contrast .slide7 {
    background-image: linear-gradient(to bottom, rgba(165, 34, 179, 0.5) 0, rgba(0, 4, 255, 0.25) 100%), url(/assets/images/pic14.webp);
    animation: 20s slides-set-7 -0.2s infinite;
  }
  .slideshow--contrast--after {
    top: auto;
    bottom: 0;
  }
  .slideshow--contrast--after .slides {
    animation: 13s slideshow-contrast -13s infinite;
  }
  .slideshow--contrast--after .slide {
    background-position: right;
  }
  .slideshow--contrast--after .slide1 {
    animation: 20s slides-set-1 infinite;
  }
  .slideshow--contrast--after .slide2 {
    animation: 20s slides-set-2 infinite;
  }
  .slideshow--contrast--after .slide3 {
    animation: 20s slides-set-3 infinite;
  }
  .slideshow--contrast--after .slide4 {
    animation: 20s slides-set-4 infinite;
  }
  .slideshow--contrast--after .slide5 {
    animation: 20s slides-set-5 infinite;
  }
  .slideshow--contrast--after .slide6 {
    animation: 20s slides-set-6 infinite;
  }
  .slideshow--contrast--after .slide7 {
    animation: 20s slides-set-7 infinite;
  }
  @media (min-width: 600px) {
    .slideshow--contrast {
      width: 50%;
      height: 100%;
    }
    .slideshow--contrast--after {
      top: 0;
      bottom: auto;
    }
    .slideshow--contrast--after .slides {
      width: 50vw;
    }
  }
  
  .slides,
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @keyframes slideshow-hero-mobile {
    0% {
      transform: scale(1) skewY(10deg);
    }
    50% {
      transform: scale(1.05) skewY(10deg);
    }
    100% {
      transform: scale(1) skewY(10deg);
    }
  }
  @keyframes slideshow-hero {
    0% {
      transform: scale(1) skewX(10deg);
    }
    50% {
      transform: scale(1.05) skewX(10deg);
    }
    100% {
      transform: scale(1) skewX(10deg);
    }
  }
  @keyframes slideshow-contrast {
    0% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
  
  @keyframes slides-set-1 {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slides-set-2 {
    0% {
      opacity: 0;
    }
    15.66667% {
      opacity: 0;
    }
    33.33333% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slides-set-3 {
    0% {
      opacity: 0;
    }
    32.33333% {
      opacity: 0;
    }
    49% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slides-set-4 {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    64.66667% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slides-set-5 {
    0% {
      opacity: 0;
    }
    64.66667% {
      opacity: 0;
    }
    79.33333% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slides-set-6 {
    0% {
      opacity: 0;
    }
    79.33333% {
      opacity: 0;
    }
    94.33333% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
    @keyframes slides-set-7 {
      0% {
        opacity: 0;
      }
      94.33333% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }


/* Our skills section*/
.skills{
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 70px 70px 50px;
  .skills-bar{
    width: 50%;
  }
  .bars{
    margin-top: 50px;
    margin-left: 40px;
  }
  .bars div{
    background-color: var(--purple-2);
    height: 3px;
    width: 70%;
    margin: 20px 0 40px;
  }
  .left{
    float: right;
  }
  #bar1{
    width: 80%;
    color:var(--purple-6);
  }
  #bar2{
    width: 90%;
    color:var(--purple-6);
  }
  #bar3{
    width: 60%;
    color:var(--purple-6);
  }
  #bar4{
    width: 73%;
    color: var(--purple-6);
  }
  #bar5{
    width: 75%;
    color:var(--purple-6);
  }
  .bckg-img{
    width: 45%;
    background-image: url("../../assets/images/pic23.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

/* Our partners section*/
.partners{
  margin: 50px 50px 100px;
  background-color: #f8f8f8;
  padding: 50px 25px;
  border-radius: 20px;
  .partners_pic{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-top: 30px;
  }
  .partners_pic img{
    margin: 15px;
    opacity: 0.6;
  }
  .partners_pic img:hover{
    opacity: 1;
  }
}

#home-wrapper .title{
  text-transform: uppercase;
  color: #333333;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
#home-wrapper hr{
  width: 30px;
}

.best-seller{
  padding: 50px 75px 150px;
}
.new-products{
  padding: 70px 75px 100px;
}
/* Attribute section */
#attributes{
  padding: 50px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.attributes-card{
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 20px;
  flex: 1;
  text-align: center;
}
.at-title{
  font-weight: bold;
  font-size: 1.2rem;
}
.color{
  color: var(--purple-9)
}
.attributes-card svg{
  min-height: 100px;
}
.attributes-card svg path{
  fill: var(--purple-9)
}