@import url('./colors.css');
@import url('./utilities.css');
@import url('./components/header.css');

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
