<div class="footer-content">
    <div class="bubble">

    </div>

    <div class="footer-text">
        <img src="../assets/images/logo-white.png" alt="" class="logo">
        <div class="flex-column">
            <div class="social-media">
                <!--            <p><img src="../assets/icons/social_media/whatsapp.svg" alt=""></p>-->
                <!--            <p><img src="../assets/icons/social_media/instagram.svg" alt=""></p>-->
                <p><a href="https://www.facebook.com/" target="_blank"><img src="../assets/icons/social_media/facebook.svg" alt="">Facebook</a></p>
                <p><a href="https://www.linkedin.com/" target="_blank"><img src="../assets/icons/social_media/linkedin.svg" alt="">LinkedIn</a></p>
                <p><a href="https://www.pinterest.com/" target="_blank"><img src="../assets/icons/social_media/pinterest.svg" alt="">Pinterest</a></p>
            </div>
            <div class="copy-right">
                <img src="../assets/icons/copy_rights.svg" alt="">
                <p>All Copyrights Reserved to Owners</p>
            </div>
        </div>
    </div>
</div>
