<div class="header-container">
    <div class="logo-container">
        <img class="logo" src="../assets/images/logo.png" alt="">
        <!-- <p class="mt-25">ShopIT</p> -->
    </div>
    <div class="tabs-container">
        <ul id="nav-list">
            <!-- Data from tabs list go here (Home, Products, Contact Us -->
        </ul>
    </div>
    <div class="controls-container">
        <div class="language-selector">
            <select id="languageSelect">
              <option value="en">EN</option>
              <option value="alb">AL</option>
            </select>
          </div>
        <img src="../assets/icons/search-interface-symbol.png" alt="" class="icon">
        <img src="../assets/icons/shopping-bag.png" alt="" class="icon">
        <img src="../assets/icons/user-1.png" alt="" class="icon">
    </div>
</div>

<script>
    const tabs = [
        {
            name: 'Home',
            tab_name: 'home'
        },
        {
            name: 'Products',
            tab_name: 'products'
        },
        {
            name: 'Contact Us',
            tab_name: 'contact-us'
        }
    ]
    let header = document.getElementById('nav-list')

    createTabs()
    changeTab('home')
    function changeTab(tab){
        $(function(){
            $('#tab-content').load("tabs/"+tab+"/index.html");
        });
    }
    function createTabs(){
        header.innerHTML = ''

        tabs.forEach((item) => {
            let tab = document.createElement('li')
            tab.innerText = item.name
            tab.addEventListener('click', function (event){
                changeTab(item.tab_name)
            })

            header.append(tab)
        })
    }
</script>
