<div class="header-container">
    <div class="logo-container">
        <img class="logo" src="../assets/images/logo.png" alt="">
        <!-- <p class="mt-25">ShopIT</p> -->
    </div>
    <div class="tabs-container">
        <ul id="nav-list">
            <!-- Data from tabs list go here (Home, Products, Contact Us -->
        </ul>
    </div>
    <div class="controls-container">
        <img src="../assets/icons/search-interface-symbol.png" alt="" class="icon">
        <img src="../assets/icons/shopping-bag.png" alt="" class="icon">
        <img src="../assets/icons/user-1.png" alt="" class="icon">
    </div>
</div>

<script>
    const tabs = [
        {
            name: 'Home',
            tab_name: 'home'
        },
        {
            name: 'Products',
            tab_name: 'products'
        },
        {
            name: 'Contact Us',
            tab_name: 'contact-us'
        }
    ]
    let header = document.getElementById('nav-list')


    createTabs()

    let url = new URL(window.location)
    if(url.searchParams.get('tab'))
        changeTab(url.searchParams.get('tab'))
    else changeTab('home')

    function changeTab(tab){
        if(tab === 'home')
            navigateTo('#slider', 'tabs/home/slider.html')
        else
            document.getElementById("slider").innerHTML = ''

        navigateTo('#tab-content', `tabs/${tab}/index.html`)
    }
    function createTabs(){
        header.innerHTML = ''

        tabs.forEach((item) => {
            let tab = document.createElement('li')
            tab.innerText = item.name
            tab.addEventListener('click', function (event){
                changeTab(item.tab_name)
            })

            header.append(tab)
        })
    }
</script>
